* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ol ,ul, menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
}

:root {
  --green:#20AD96,
  --background: #F8F8F8;
  --font-gray: #bcbcbc;
  --font: #343142;
}

.button-get-started {
  width: 200px;
  background-color: #20AD96;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;

}

.section {
  padding-top: 125px;
}

.section-bg {
  background-color: #F8F8F8;
}

.color-green {
  color: #20AD96;
  padding-bottom: 25px;
  font-size: 24px;
}

.p-description {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 45px;

}

